[submodule "wxplotctrl"]
	path = wxplotctrl
	url = https://github.com/externpro/wxplotctrl
[submodule "wxthings"]
	path = wxthings
	url = https://github.com/externpro/wxthings
[submodule "wxTLC"]
	path = wxTLC
	url = https://github.com/externpro/wxTLC
[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/externpro/externpro
